<div class="row w-100 d-flex justify-content-center mt-5">
  <div class="jumbotron col-md-12 text-center text-white">
    <h1>Welcome to ESPN Forum</h1>
    <h4>The best forum for you to discuss anythink!</h4>
    <h4>With a million members around the world!</h4>
    <%= link_to "Join Now", new_user_registration_path, class:"btn btn-lg btn-primary" %>
  </div>
</div>
